.app {
  &__sheet {
    margin-right: 480px;
    @media only print {
      margin-right: 0;
    }
  }
  &__controls {
    position: fixed;
    width: 480px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 1em 2em;
    box-sizing: border-box;
    border-left: 1px solid #eee;
    background: whitesmoke;
    font: caption;
    @media only print {
      display: none;
    }
  }
}
